/* ボードセルコンテナ */
.boardCell {
  position: relative;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 4px 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  transition: all 0.2s;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 72px;
  text-align: left;
  width: 100%;

  &:disabled {
    cursor: default;
  }

  &:hover {
    box-shadow:
      0 4px 6px -1px rgba(0, 0, 0, 0.1),
      0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transform: scale(1.02);
  }

  .label {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    appearance: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-appearance: none;

    .labelInput {
      font-size: 10px;
      font-weight: 500;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--color-primary);
      outline: none;
      width: 100%;
      padding: 0;
      margin: 0;
      line-height: 1.25;
    }

    .labelDisplay {
      font-size: 10px;
      font-weight: 500;
      opacity: 0.8;
      color: var(--color-text-black);
      cursor: pointer;
      white-space: nowrap;
      line-height: 1.25;
    }
  }

  .value {
    background-color: transparent;
    border: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--color-text-black);
    cursor: pointer;
    outline: none;
    appearance: none;
    font: inherit;
    text-align: inherit;
    text-decoration: inherit;
    text-transform: inherit;
    -webkit-appearance: none;

    .valueInput {
      font-size: 14px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      border-bottom: 1px solid var(--color-primary);
      outline: none;
      width: 100%;
      padding: 0;
      margin: 0;
      text-align: center;
    }

    .valueDisplay {
      display: grid;
      place-content: center;
      font-size: 14px;
      font-weight: bold;
      color: var(--color-text-black);
      cursor: pointer;
      white-space: wrap;
      line-height: 1.25;
      text-align: center;
    }

    .valueDisplayLong {
      font-size: 10px;
    }
  }
}

.editing {
  background-color: var(--bg-white);
}
