.fileInputWithCropper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;

  .texts {
    margin-bottom: 6px;

    .description {
      font-size: 12px;
      line-height: 1;
      color: var(--color-description);
    }
  }

  .dropzone {
    width: 100%;
    height: 200px;
    text-align: center;
    border: 2px dashed var(--color-border-gray0, #aeb7ce);

    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .error {
    font-size: 13px;
    line-height: 1.5;
    color: #f5222d;
  }

  .imagePreview {
    position: relative;
    width: 100%;
    height: 100%;

    .image {
      width: 100%;
      height: 100%;
    }
  }
}
