.primary {
  color: var(--color-text-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  font-family:
    "Noto Sans JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  &:hover {
    background-color: var(--color-primary);
    opacity: 0.8;
  }
}

.secondary {
  color: var(--color-primary);
  background-color: var(--bg-white0);
  border-color: var(--color-primary);
  font-family:
    "Noto Sans JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  &:hover {
    background-color: var(--bg-white0);
    opacity: 0.8;
  }
}

.tertiary {
  color: var(--color-primary);
  background-color: transparent;
  border-color: transparent;
  font-family:
    "Noto Sans JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  &:hover {
    background-color: transparent;
    opacity: 0.8;
  }
}

.disabled {
  color: var(--color-text-white);
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  opacity: 0.5;
}

.inverse {
  color: var(--color-primary);
  background-color: var(--bg-white);
  border-color: var(--bg-white);
  font-family:
    "Noto Sans JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;

  &:hover {
    background-color: rgba(255, 255, 255, 0.9);
  }

  &:active {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
