.editHeader {
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  align-items: center;
  background-color: transparent;
  padding: 8px 0;
  border-bottom: 1px solid var(--color-border-gray0);

  .leftIcon {
    display: flex;
    justify-content: flex-start;
    padding-left: 4px;
  }

  .title {
    font-size: 20px;
    line-height: 2;
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
  }

  .rightIcon {
    display: flex;
    justify-content: flex-end;
  }
}
