.unstyledButton {
  background-color: transparent;
  border: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: pointer;
  outline: none;
  appearance: none;
  color: inherit;
  font: inherit;
  font-family: "Noto Sans JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  text-align: inherit;
  text-decoration: inherit;
  text-transform: inherit;
  -webkit-appearance: none;
}
